body {
    font-family: 'Space Mono', monospace;
}

/* Home */
.carousel {
    padding: auto ;
    text-align: center;
    background-image: url(Asset/img/bg1.png);
    background-size: cover;
    height: 100;
}

.logoes {
    width: 150px;
    border-radius: 50%;
    padding: 0.25rem;
    max-width: 100%;
    height: auto;
}

.carousel-item {
    padding: 10rem 1rem ;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: white;
}
/* Close Home */

/* Navbar */
.navbar {
    background-color: #1D1D1F;
}

.nav-item {
    color: white;
}

.navbar-brand   {
    font-weight: 900;
    color: white;
}

.nav-link.active {
    font-weight: 700;
}

.nav-link :hover{
    color: white;
}
/* Close Navbar */



/* Service */

#Service {
    background-color: white;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 10rem 1rem ;
    text-align: center;
    color: black;
}

.col-12 {
    margin-bottom: 30px;
}

.container-s {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-s {

    width: 430px;
    height: 325px;
    margin: 20px;
    border-radius: 15px;
}

.card-s h3 {
    padding: 5px;
}

.card-s p {
    padding: 5px;
}

.card-s .btn {
    margin: 20px;
    padding: 10px;
}

.circle-icon {
    width: 70px;
    height: 70px;
    background-color: #5ED6C9;
    border-radius: 50%;
}

.card:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.03);
}

.jasa {
    width: 100px;
}

/* Close Service */

/* Parallax */

.parallax {
    background-image: url(Asset/img/bg3.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFE6CD;
    padding: 10rem 1rem ;
    text-align: center;
    width: 100%;
  }

/* Close Parallax */

/* Portofolio */
#Portofolio {
    background-color: white;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 10rem 1rem ;
    text-align: center;
    color: black;
}

.col-12 {
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.container-baru {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    background: #d9d9d9;
    width: 325px;
    height: 517px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    background-size: cover;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0px 0px;
}

.news-1 {
    background-image: url(https://media-exp1.licdn.com/dms/image/D5612AQHdwTDxfUssMg/article-cover_image-shrink_423_752/0/1660241486534?e=1666828800&v=beta&t=rdFpIAjnABpEu2iq40N1EJ15bb5GPHXyONtOsq9APrA);
}

.news-2 {
    background-image: url(https://media-exp1.licdn.com/dms/image/D5612AQGWQDiHFvLP0w/article-cover_image-shrink_423_752/0/1660241570751?e=1666828800&v=beta&t=XZlTEknFpofnI5qQ2Cbe1ghuEAry-N-WJzE1lHfh-FA);
}

.news-3 {background-image: url(https://media-exp1.licdn.com/dms/image/D5612AQG1WxeYsPS67Q/article-cover_image-shrink_423_752/0/1659686186081?e=1666828800&v=beta&t=afz37io-D2_KNlpa92Z3xro8Rm4WeA1kk2_jHyUA8Vc);}

.card h3 {
    padding: 0px;
    color: #0F0B09;
}

.card p {
    padding: 5px;
    color: #0F0B09;
}

.card .btn {
    margin: 20px;
    padding: 10px;
}

.circle-icon {
    width: 70px;
    height: 70px;
    background-color: #5ED6C9;
    border-radius: 50%;
}

.card:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.03);
}

.buton {
    margin: 10px;
    color :white;
    border-radius: 15px;
    padding: 5px;
    background-color: #545454;
}

/* Close Portofolio */


/* artikel */

/* Utama */
.card-u {
    background: #d9d9d9;
    width: auto;
    height: 200px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
    text-align: start;
}

.img-ar1 {
    background-image: url(Asset/img/dd.png);
}

/* layar hp */
@media screen and (max-width: 601px) {
    .card-u h3 {
        font-size: 12px;
        padding: 5px;
        margin-top: 10px;
        }
    .card-u {
        background: #d9d9d9;
        width: auto;
        height: 200px;
        margin: 10px;
        margin-top: 20px;
        border-radius: 15px 15px 15px 15px;
        text-align: start;
        }
    .card-u p {
        font-size: 9px;
        padding: 5px, 5px, 5px, 5px ;
        }
    .card-u .btn {
        margin-top: 0px;
        padding: 0px;
        font-size:11px;
    }
    .container-barus {
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    
    /* Card-b */
    .card-b {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        text-align: start;
        width: 100%;
    }
    .card-b h3 {
        padding: 0px;
        font-size: large;
    }
    .card-b p {
        padding: 1px;
        font-size: small;
    }
    .btns   {
        color: black;
        text-decoration: none;
    }
    .card-images {
        background-size: cover;
        height: 200px;
        margin-bottom: 10px;
        border-radius: 15px 0px 0px 15px;
    }
    }

/* layar laptop */
@media screen and (min-width: 600px) {
    .card-u h3 {
        font-size: 20px;
        padding: 5px;
        }
    .card-u {
        background: #d9d9d9;
        width: 625px;
        height: 230px;
        margin: 10px;
        margin-top: 20px;
        border-radius: 15px 15px 15px 15px;
        text-align: start;
        color: #0F0B09;
        }
    .card-u p {
        font-size: 16px;
        padding: 5px, 5px, 5px, 5px ;
        }
    .card-u .btn {
        margin-top: 0px;
        padding: 0px;
        font-size: 12px;
    }
    .container-barus {
        margin: 0px 0px 0px 175px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    /* Card-b */
    .card-b {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        text-align: start;
        width: 330px;
    }
    .card-b h3 {
        padding: 0px;
        font-size: large;
    }
    .card-b p {
        padding: 5px;
        font-size: small;
    }
    .btns   {
        color: #FFE6CD;
        text-decoration: none;
    }
    .card-images {
        background-size: cover;
        height: 230px;
        margin-bottom: 10px;
        border-radius: 15px 0px 0px 15px;
    }
    }


.card-u:hover {
    background: white;
    width: 625px;
    height: 230px;
    margin: 10px;
    border-radius: 15px 15px 15px 15px;
    text-align: start;
}

/* Utama Close */



.btns:hover {
    color: blue;
    cursor: pointer;
    transform: scale(1.03);
}
/* b Close */

.card-a {
    background: #d9d9d9;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
}

.card-a h3 {
    padding: 0px;
    font-size: large;
}

.card-a p {
    padding: 5px;
    font-size: small;
}





/* Close Artikel */


/* footer */

#foot {
    background-color: #0f0b09;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 10rem 1rem ;
    text-align: end;
    color: #ffe6cd;
}

/* Close footer */


/* Artikel */

Article {
    text-align: start;
    background-color: white;
    color: #FFE6CD;
}

.ar1 {
    padding: 5rem;
    text-align: center;
}

.ar {
    padding: 2rem;
    text-align: center;

}

.img-ar {
    width: 300px;
    padding: 30px;
    height: auto;
}

.card-ar {
    background-color: #0f0b09;
    width: auto;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

.news-ar1 {
    padding: 5px;
}

/* Form Contact */

.contact-form {
    background-color: #0F0B09;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: #ffff;
    font-weight: 800px;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: blue;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/* Close Contact Form */

/* Article Close */

/* About Start */

#About {
    background-color: white;
}

.about {
    text-align: center;
    padding: 5rem 1rem ;
    color: black;

}

.text-size {
    font-size: 75px;
}


.ab {
    text-align: start;
    padding: 20rem 1rem ;
    height: 100vh;
    width: 600px;
    color: black;

}
.ab1 {
    width: 650px;
    height: 600x;
    padding: 10rem 1rem;
    align-items: flex-end;
}

#about2 {
    background-color: white;
}

.abt {
    text-align: start;
    padding: 20rem 1rem;
    color: black;
}

#about3 {
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 5rem 1rem;
}

.ab3 {
    width: 200px;
    height: 200x;
    padding: 20px;
    align-items: center;
}


/* About Close */
